<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.divinesecurity.safehouse"
    android:installLocation="preferExternal">

    <protected-broadcast android:name="android.intent.action.MEDIA_MOUNTED" />

    <uses-permission android:name="android.permission.INTERNET" />
    <!--
<uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-feature android:name="android.hardware.telephony" android:required="false"/>
    -->
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/shieldlogo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />

        <service
            android:name=".firebasePackage.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".MyMapActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".registerPackage.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter android:label="safehouse">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://www.example.com/gizmos” -->
                <data
                    android:host="www.divinesecurityapp.com"
                    android:pathPrefix="/divsecapp"
                    android:scheme="http" />
                <!-- note that the leading "/" is required for pathPrefix -->
                <!-- Accepts URIs that begin with "example://gizmos” -->
                <!-- Accepts URIs that begin with "example://gizmos” -->
                <data
                    android:host="divinesecurityapp.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".registerPackage.RegisterActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".paymentPackage.PayActivity"
            android:label="@string/title_activity_payment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".pdfPackage.ViewPDFActivity" />
        <activity
            android:name=".invoicePackage.InvoiceListActivity"
            android:label="Invoices"
            android:parentActivityName=".MainActivity"
            android:theme="@style/BlueAppTheme" />
        <activity
            android:name=".alarmPackage.EventListActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/OrangeAppTheme" />
        <activity android:name=".emergencyPackage.EmergencyListActivity"
            android:label="Emergencies"
            android:parentActivityName=".MainActivity"
            android:theme="@style/BlueAppTheme"/>
        <activity
            android:name=".zonePackage.ZoneListActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/GreenAppTheme" />
        <activity android:name=".paymentPackage.PayPalPaymentDetails" />
        <activity
            android:name=".guestPackage.GuestListActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".settingsPackage.SettingsActivity"
            android:label="Settings"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".settingsPackage.NotificationSttngActivity"
            android:label="Notification Settings"
            android:parentActivityName=".settingsPackage.SettingsActivity" />
        <activity
            android:name=".accountPackage.AccountsListActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppThemeGV" />
        <activity android:name=".NewAccountActivity" />
    </application>

</manifest>